<div id="footer">

  <div class="footer-area-top">
    <div class="inner">
      <div class="at-callOutBox">
        <div class="at-callOut_inner">
          <div class="at-callOut-action">
            <div class="at-callOut_text">
              <div class="at-callout-action-text">
                <h1 style="font-size:16px;color:#ffffff;font-weight:300;letter-spacing:0px;">Colocamos nossa equipe de radiologistas à sua disposição para oferecer a melhor experiência em telerradiologia.</h1>
              </div>
            </div>
            <div class="at-callOut_btn">
              <div class="at-callout-action-button">
                <a href="#" class="btn large" style="color: #ffffff;border-color: #ffffff;" data-btn-color="#f0f0f0">
                  <span class="btn-text">Solicite um Orçamento</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .footer-area-top-->

  <div class="footer-area-middle">
    <div class="inner">
      <div class="inner-row">
        <aside id="text-4" class="whitetext widget widget_text  col_3">
          <div class="textwidget">
            <p><img src="/assets/logo.png" width="220px" alt="DigitalRad"></p>
            <%= Block.friendly.find("responsavel-tecnico").content.html_safe %>

          </div>
        </aside>
        <aside id="nav_menu-6" class="widget widget_nav_menu  col_3">
          <h3 class="widget-title">Mapa do Site</h3>
          <div class="menu-footer-one-container">
            <ul class="menu">
              <li><a href="#">Quem Somos</a></li>
              <li><a href="#">Laudos à Distância</a></li>
              <li><a href="#">Casos Clínicos</a></li>
              <li><a href="#">Contratos</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </div>
        </aside>
        <aside id="nav_menu-5" class="widget widget_nav_menu  col_3">
          <h3 class="widget-title">Saiba Mais</h3>
          <div class="menu-footer-one-container">
            <ul class="menu">
              <li><a href="#">Como Funciona</a></li>
              <li><a href="#">Equipe Médica</a></li>
              <li><a href="#">Vantagens para Seu Serviço</a></li>
              <li><a href="#">Área de Atuação</a></li>
              <li><a href="#">Nossa Estrutura</a></li>
            </ul>
          </div>
        </aside>
        <aside id="contactinfo_widgets-2" class="widget contactinfo-wg  col_3">
          <%= Block.friendly.find("rodape-fale-conosco").content.html_safe %>
        </aside>
      </div><!-- inner-row -->
    </div><!-- inner -->
  </div><!-- .footer-area-middle-->

  <div class="footer-area-bottom">
    <div class="inner">
      <aside id="text-7" class="textcenter widget widget_text">
        <div class="textwidget">
          &copy; Copyright 2018 Digitalrad. Todos os Direitos Reservados. Desenvolvido por <a href="#">AzevedoDev</a>
        </div>
      </aside>
    </div>
  </div>

</div><!-- #footer -->
