<div class="pull-right">
  &copy; 2018 - Cloud<b>Admin</b> - Todos os Direitos Reservados - <a href="https://cajuinaweb.com.br">CajuinaWeb</a> - Layout por <a href="https://colorlib.com">Colorlib</a>
</div>
<div class="clearfix"></div>
